Repository czhaoca/pathfinder: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, vitest related --run, prettier --write

test: add comprehensive test coverage improvements
  backend/__mocks__/oracledb.js
  backend/package.json
  backend/src/api/middleware/validation.js
  backend/src/services/database.js
  backend/tests/e2e/auth.e2e.test.js
  backend/tests/e2e/experience-management.e2e.test.js
  backend/tests/integration/auth.test.js
  backend/tests/performance/api.perf.test.js
  backend/tests/performance/database.perf.test.js
  backend/tests/performance/mcp.perf.test.js
  backend/tests/setup.js
  backend/tests/unit/routes/authRoutes.test.js
  backend/tests/unit/services/careerPathService.test.js
  backend/tests/unit/services/database.test.js
  backend/tests/unit/services/encryption.test.js
  backend/tests/unit/services/experienceService.test.js
  backend/tests/unit/services/userService.test.js
  frontend/package.json
  frontend/src/components/Button.test.tsx
  frontend/src/components/LoginForm.test.tsx
  frontend/src/services/authService.test.ts
  package-lock.json
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, vitest related --run, prettier --write

feat: implement essential API endpoints and align tests
  backend/jest.config.js
  backend/package.json
  backend/playwright.config.js
  backend/src/api/controllers/authController.js
  backend/src/api/controllers/experienceController.js
  backend/src/api/middleware/validation.js
  backend/src/api/routes/authRoutes.js
  backend/src/api/routes/experienceRoutes.js
  backend/tests/e2e/auth.e2e.test.js
  backend/tests/e2e/experience-management.e2e.test.js
  backend/tests/unit/routes/authRoutes.test.js
  package-lock.json
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: redesign auth system with three-tier role model and improve API documentation structure
  docs/api/API-REFERENCE.md
  docs/api/auth/authentication-api.md
  docs/api/auth/user-roles-and-permissions.md
  docs/api/experiences/experiences-api.md
  docs/api/user/user-management-api.md
  docs/deployment/environment-configuration.md
Due: prettier --write

feat: implement secure password architecture with token-based retrieval
  docs/api/API-REFERENCE.md
  docs/api/auth/authentication-api.md
  docs/api/auth/password-security.md
Due: prettier --write

fix: update password reset token expiry to 3 hours
  docs/api/auth/authentication-api.md
  docs/api/auth/password-security.md
Due: prettier --write

refactor: reorganize database schemas into dedicated folder structure
  database/README.md
Due: prettier --write

feat: add database configuration management tables
  database/README.md
Due: prettier --write

docs: create GitHub issues implementation plan and templates
  .github/ISSUE_TEMPLATE/api-endpoint.md
  .github/ISSUE_TEMPLATE/database-change.md
  .github/ISSUE_TEMPLATE/security-feature.md
  docs/development/github-issues-plan.md
Due: prettier --write

feat: create detailed GitHub issues for RBAC and password security implementation
  .github/issues/001-three-tier-rbac.md
  .github/issues/002-secure-password-system.md
Due: prettier --write

feat: create comprehensive GitHub issues for site admin provisioning and user deletion
  .github/issues/003-site-admin-provisioning.md
  .github/issues/004-user-deletion-cooling-off.md
Due: prettier --write

feat: add remaining GitHub issues for authentication system redesign
  .github/issues/005-database-reorganization.md
  .github/issues/006-configuration-management.md
  .github/issues/007-audit-logging-system.md
  .github/issues/008-api-endpoint-updates.md
  .github/issues/009-api-documentation-overhaul.md
  .github/issues/010-integration-testing-suite.md
  .github/issues/011-frontend-authentication.md
  .github/issues/012-admin-dashboard-ui.md
  .github/issues/013-end-to-end-testing.md
Due: prettier --write

refactor: rename issue files to match GitHub issue numbers
  .github/issues/008-three-tier-rbac.md
  .github/issues/009-secure-password-system.md
  .github/issues/010-site-admin-provisioning.md
  .github/issues/011-user-deletion-cooling-off.md
  .github/issues/012-database-reorganization.md
  .github/issues/013-configuration-management.md
  .github/issues/014-audit-logging-system.md
  .github/issues/015-api-endpoint-updates.md
  .github/issues/016-api-documentation-overhaul.md
  .github/issues/017-integration-testing-suite.md
  .github/issues/018-frontend-authentication.md
  .github/issues/019-admin-dashboard-ui.md
  .github/issues/020-end-to-end-testing.md
Due: prettier --write

feat: implement three-tier RBAC system (closes #8)
  backend/src/database/migrations/001_create_rbac_tables.sql
  backend/src/middleware/rbac.js
  backend/src/routes/roles.js
  backend/src/services/roleService.js
  backend/tests/integration/rbac.integration.test.js
  backend/tests/unit/rbac.test.js
  docs/api/rbac/role-management-api.md
  docs/implementation/issue-8-verification.md
  docs/migration/rbac-migration-guide.md
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: add final verification report for Issue #8 RBAC implementation
  docs/implementation/issue-8-final-verification.md
Due: prettier --write

feat: implement token-based password system with client-side hashing (closes #9)
  backend/src/database/migrations/006_token_based_password_system.sql
  backend/src/routes/auth.js
  backend/src/services/passwordService.js
  backend/tests/integration/authFlow.test.js
  backend/tests/unit/passwordService.test.js
  docs/api/authentication-endpoints.md
  docs/verification/issue-9-token-based-password-system.md
  frontend/src/components/LoginForm.jsx
  frontend/src/components/RegistrationForm.jsx
  frontend/src/utils/crypto.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: implement site admin provisioning system with emergency recovery (closes #10)
  backend/scripts/emergency-recovery.js
  backend/scripts/provision-site-admin.js
  backend/src/database/migrations/007_site_admin_provisioning.sql
  backend/src/routes/admin.js
  backend/src/services/emergencyRecovery.js
  backend/src/services/siteAdminProvisioner.js
  backend/tests/unit/siteAdminProvisioner.test.js
  docs/runbooks/emergency-recovery.md
  docs/runbooks/site-admin-provisioning.md
  docs/verification/issue-10-site-admin-provisioning.md
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: implement 7-day cooling-off period for user deletion (closes #11)
  backend/src/api/routes/userDeletion.js
  backend/src/services/deletionScheduler.js
  backend/src/services/emailService.js
  backend/src/services/exportService.js
  backend/src/services/userDeletionService.js
  backend/src/templates/emails/deletion-final-warning.hbs
  backend/src/templates/emails/deletion-initiated.hbs
  backend/src/templates/emails/deletion-reminder.hbs
  backend/tests/userDeletion.test.js
  docs/features/issue-11-implementation-report.md
  docs/features/user-deletion-cooling-off.md
  frontend/src/components/AccountDeletion.css
  frontend/src/components/AccountDeletion.tsx
  frontend/src/components/DeletionConfirmDialog.css
  frontend/src/components/DeletionConfirmDialog.tsx
  frontend/src/components/WarningBanner.css
  frontend/src/components/WarningBanner.tsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, vitest related --run, prettier --write

feat: reorganize database schemas into dedicated folder structure (closes #12)
  backend/src/database/migrations/001_create_rbac_tables.sql
  backend/src/database/migrations/006_token_based_password_system.sql
  backend/src/database/migrations/007_site_admin_provisioning.sql
  docs/features/issue-12-database-reorganization.md
Due: prettier --write

feat: implement comprehensive database-driven configuration management system (closes #13)
  backend/src/api/controllers/configurationController.js
  backend/src/api/routes/configurationRoutes.js
  backend/src/database/migrations/20250816001_create_configuration_tables.js
  backend/src/database/run-configuration-migration.js
  backend/src/database/schema/configuration-tables.js
  backend/src/services/configurationAuditLogger.js
  backend/src/services/configurationCache.js
  backend/src/services/configurationService.js
  backend/src/services/configurationTemplatesService.js
  backend/src/services/configurationValidator.js
  backend/src/services/dynamicRateLimiter.js
  backend/src/services/featureFlagService.js
  backend/tests/integration/configuration.integration.test.js
  backend/tests/performance/configuration.performance.test.js
  backend/tests/unit/services/configurationService.test.js
  backend/tests/unit/services/configurationValidator.test.js
  backend/tests/unit/services/featureFlagService.test.js
  docs/api/configuration-management.md
  docs/implementation-validation-report.md
  docs/user-guides/configuration-management.md
  frontend/src/components/configuration/ConfigurationEditor.tsx
  frontend/src/components/configuration/ConfigurationList.tsx
  frontend/src/components/configuration/ConfigurationManager.tsx
  frontend/src/components/configuration/EnvironmentSelector.tsx
  frontend/src/services/configurationService.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, vitest related --run, prettier --write

feat: implement comprehensive audit logging and API v2 with RBAC (closes #14, #15)
  backend/src/api/app.js
  backend/src/middleware/audit.js
  backend/src/middleware/rateLimit.js
  backend/src/middleware/rbac.js
  backend/src/monitoring/auditDashboard.js
  backend/src/routes/admin.v2.js
  backend/src/routes/auth.v2.js
  backend/src/routes/users.v2.js
  backend/src/services/auditService.js
  backend/tests/monitoring/auditDashboard.test.js
  backend/tests/performance/auditPerformance.test.js
  backend/tests/qa-report-issue-14.md
  backend/tests/routes/auth.v2.test.js
  backend/tests/services/auditService.test.js
  backend/tests/services/auditServiceEdgeCases.test.js
  docs/qa/issue-13-qa-signoff.md
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: complete API documentation overhaul (closes #16)
  docs/api/authentication-flow.md
  docs/api/changelog.md
  docs/api/client-examples.md
  docs/api/error-codes.md
  docs/api/openapi.yaml
  docs/api/pathfinder-api.postman_collection.json
  docs/api/rate-limiting.md
  docs/api/role-permissions.md
  docs/api/security-best-practices.md
  docs/api/swagger-ui.html
  docs/api/webhooks.md
Due: prettier --write

feat: implement comprehensive integration testing suite (closes #17)
  backend/package.json
  backend/tests/README.md
  backend/tests/globalSetup.js
  backend/tests/globalTeardown.js
  backend/tests/helpers/audit.js
  backend/tests/helpers/database.js
  backend/tests/helpers/email.js
  backend/tests/helpers/users.js
  backend/tests/integration/audit-logging.test.js
  backend/tests/integration/auth.test.js
  backend/tests/integration/compliance.test.js
  backend/tests/integration/performance.test.js
  backend/tests/integration/rbac.test.js
  backend/tests/integration/security.test.js
  backend/tests/integration/user-deletion.test.js
  backend/tests/jest.config.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: implement secure frontend authentication with client-side hashing (closes #18)
  frontend/src/components/auth/MfaInput.tsx
  frontend/src/components/auth/PasswordChange.tsx
  frontend/src/components/auth/PasswordReset.tsx
  frontend/src/components/auth/PasswordRetrieval.tsx
  frontend/src/components/auth/SecureLoginForm.tsx
  frontend/src/components/auth/UserRegistration.tsx
  frontend/src/components/common/PasswordInput.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/services/__tests__/authService.test.ts
  frontend/src/services/authService.ts
  frontend/src/stores/authStore.ts
Due: eslint --fix, vitest related --run

feat: implement comprehensive admin dashboard UI (closes #19)
  docs/qa-reports/issue-19-frontend-admin-test-coverage-report.md
  frontend/src/App.tsx
  frontend/src/components/admin/AdminSidebar.tsx
  frontend/src/components/admin/AuditLogEntry.tsx
  frontend/src/components/admin/AuditLogFilters.tsx
  frontend/src/components/admin/BulkActions.tsx
  frontend/src/components/admin/DashboardMetrics.tsx
  frontend/src/components/admin/QuickActions.tsx
  frontend/src/components/admin/RecentActivity.tsx
  frontend/src/components/admin/SecurityAlerts.tsx
  frontend/src/components/admin/SystemHealthMonitor.tsx
  frontend/src/components/admin/UserDetailsModal.tsx
  frontend/src/components/admin/UserFilters.tsx
  frontend/src/components/common/CountdownTimer.tsx
  frontend/src/components/common/DataTable.tsx
  frontend/src/hooks/useDebounce.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/pages/admin/AdminDashboard.tsx
  frontend/src/pages/admin/AuditLogViewer.tsx
  frontend/src/pages/admin/DeletionQueue.tsx
  frontend/src/pages/admin/UserManagement.tsx
  frontend/src/pages/admin/__tests__/AdminDashboard.test.tsx
  frontend/src/services/__tests__/websocket.service.test.ts
  frontend/src/services/admin.service.ts
  frontend/src/services/api.ts
  frontend/src/services/audit.service.ts
  frontend/src/services/deletion.service.ts
  frontend/src/services/user.service.ts
  frontend/src/services/websocket.service.ts
Due: eslint --fix, vitest related --run, prettier --write

test: implement comprehensive E2E testing suite (closes #20)
  .github/workflows/e2e-tests.yml
  e2e/factories/user.factory.ts
  e2e/fixtures/auth.fixture.ts
  e2e/helpers/auth.helper.ts
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/accessibility/wcag.spec.ts
  e2e/tests/admin/dashboard.spec.ts
  e2e/tests/auth/login.spec.ts
  e2e/tests/auth/password-management.spec.ts
  e2e/tests/deletion/cooling-off.spec.ts
  e2e/tests/performance/benchmarks.spec.ts
  e2e/tests/rbac/permissions.spec.ts
  e2e/tests/security/vulnerabilities.spec.ts
Due: eslint --fix, vitest related --run, prettier --write

docs: create comprehensive user management system GitHub issues (#21-#30)
  docs/issues/README.md
  docs/issues/issue-21-database-schema-optimization.md
  docs/issues/issue-22-admin-invitation-system.md
  docs/issues/issue-23-progressive-profile-collection.md
  docs/issues/issue-24-feature-flag-management.md
  docs/issues/issue-25-google-oauth-integration.md
  docs/issues/issue-26-linkedin-oauth-integration.md
  docs/issues/issue-27-user-analytics-oci-storage.md
  docs/issues/issue-28-analytics-dashboard.md
  docs/issues/issue-29-site-admin-panel-enhancements.md
  docs/issues/issue-30-self-registration-ddos-protection.md
Due: prettier --write

feat: implement database schema optimization for user management (closes #21)
  backend/src/database/schema/user-tables.js
  backend/tests/database/user-management-schema.test.js
  docs/architecture/database.md
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: implement database schema optimization for user management (closes #21)
  backend/tests/database/clarifications-needed-issue-21.md
  backend/tests/database/qa-report-issue-21.md
  backend/tests/database/user-management-schema-edge-cases.test.js
  backend/tests/jest.config.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

chore: disable GitHub Actions workflows temporarily
  .github/workflows/e2e-tests.yml.disabled
  .github/workflows/release.yml.disabled
  .github/workflows/version-check.yml.disabled
Due: none

feat: implement admin invitation system for user onboarding (closes #22)
  backend/package.json
  backend/src/api/app.js
  backend/src/api/controllers/invitationController.js
  backend/src/api/middleware/csrfMiddleware.js
  backend/src/api/routes/invitationRoutes.js
  backend/src/container.js
  backend/src/repositories/invitationRepository.js
  backend/src/services/emailService.js
  backend/src/services/invitationService.js
  backend/src/templates/emails/invitation-reminder.hbs
  backend/src/templates/emails/invitation.hbs
  backend/src/templates/emails/welcome.hbs
  backend/tests/services/invitationService.security.test.js
  backend/tests/services/invitationService.test.js
  frontend/src/App.tsx
  frontend/src/components/admin/InvitationManager.tsx
  frontend/src/pages/InviteRegistration.tsx
  frontend/src/pages/admin/AdminDashboard.tsx
  frontend/src/services/__tests__/invitationService.test.ts
  frontend/src/services/invitationService.ts
  package-lock.json
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, vitest related --run, prettier --write

feat: implement progressive profile data collection system (closes #23)
  backend/package.json
  backend/src/api/routes/progressiveProfileRoutes.js
  backend/src/database/schema/user-tables.js
  backend/src/database/seeds/seed-profile-fields.js
  backend/src/services/ProfileCompletionService.js
  backend/src/services/ProfileFieldsService.js
  backend/tests/services/ProfileCompletionService.edge.test.js
  backend/tests/services/ProfileCompletionService.test.js
  backend/tests/services/ProfileFieldsService.edge.test.js
  backend/tests/services/ProfileFieldsService.test.js
  docs/features/progressive-profile-collection.md
  docs/qa/issue-23-qa-report.md
  frontend/src/components/profile/FeatureAccessGate.css
  frontend/src/components/profile/FeatureAccessGate.tsx
  frontend/src/components/profile/ProfileCompletionIndicator.css
  frontend/src/components/profile/ProfileCompletionIndicator.tsx
  frontend/src/components/profile/ProgressiveProfileForm.css
  frontend/src/components/profile/ProgressiveProfileForm.tsx
  frontend/src/components/profile/__tests__/ProgressiveProfileForm.test.tsx
  frontend/src/services/progressiveProfileAPI.ts
  frontend/src/stores/profileStore.ts
  package-lock.json
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, vitest related --run, prettier --write

feat: implement feature flag management system with admin controls (closes #24)
  backend/src/api/routes/featureFlagRoutes.js
  backend/src/services/cacheService.js
  backend/src/services/enhancedFeatureFlagService.fixes.js
  backend/src/services/enhancedFeatureFlagService.js
  backend/tests/unit/services/enhancedFeatureFlagService.edge-cases.test.js
  backend/tests/unit/services/enhancedFeatureFlagService.security.test.js
  backend/tests/unit/services/enhancedFeatureFlagService.test.js
  docs/features/feature-flag-management.md
  docs/qa-reports/issue-24-feature-flag-qa-report.md
  frontend/src/components/admin/FeatureFlagManager.tsx
  frontend/src/components/admin/SelfRegistrationControl.tsx
  frontend/src/hooks/useFeatureFlags.ts
  frontend/src/services/featureFlagService.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, vitest related --run, prettier --write

feat: implement Google OAuth integration with local account provisioning (closes #25)
  backend/docs/qa-reports/issue-25-google-oauth-qa-report.md
  backend/package.json
  backend/src/api/controllers/authController.js
  backend/src/api/middleware/validation.js
  backend/src/api/routes/authRoutes.js
  backend/src/config/oauth.js
  backend/src/container.js
  backend/src/services/authService.js
  backend/src/services/featureFlagService.js
  backend/src/services/googleOAuthService.js
  backend/src/services/ssoService.js
  backend/src/services/userService.js
  backend/tests/integration/google-oauth.test.js
  backend/tests/unit/services/googleOAuthService.test.js
  docs/api/oauth-endpoints.md
  docs/deployment/google-oauth-setup.md
  frontend/src/components/auth/GoogleSignIn.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/auth/MergeAccount.tsx
  frontend/src/services/authService.ts
  package-lock.json
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, vitest related --run, prettier --write

feat: implement LinkedIn OAuth integration with profile import (closes #26)
  backend/docs/issues/issue-26-clarification-recommendations.md
  backend/docs/qa-reports/issue-26-linkedin-oauth-qa-report.md
  backend/src/api/controllers/authController.js
  backend/src/api/middleware/validation.js
  backend/src/api/routes/authRoutes.js
  backend/src/config/oauth.js
  backend/src/container.js
  backend/src/services/linkedInOAuthService.js
  backend/src/services/profileImportService.js
  backend/tests/integration/linkedin-oauth.test.js
  backend/tests/unit/services/linkedInOAuthService.edge.test.js
  backend/tests/unit/services/linkedInOAuthService.test.js
  docs/api/linkedin-oauth-endpoints.md
  docs/deployment/linkedin-oauth-setup.md
  docs/qa-reports/issue-26-linkedin-oauth-qa-report.md
  docs/user-guides/linkedin-integration-guide.md
  frontend/src/components/auth/AccountMergeModal.tsx
  frontend/src/components/auth/LinkedInSignInButton.tsx
  frontend/src/components/icons/LinkedInIcon.tsx
  frontend/src/components/profile/LinkedInImportPreview.tsx
  frontend/src/components/profile/LinkedInSyncDashboard.tsx
  frontend/src/services/linkedInService.ts
  frontend/tests/components/LinkedInAuth.test.tsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, vitest related --run, prettier --write

feat: implement user analytics system with OCI object storage integration (closes #27)
  backend/docs/pm-reports/issue-27-final-signoff.md
  backend/docs/qa-reports/issue-27-qa-approval-after-fixes.md
  backend/docs/qa-reports/issue-27-qa-test-coverage-analysis.md
  backend/docs/qa-reports/issue-27-user-analytics-oci-qa-report.md
  backend/package.json
  backend/src/database/migrations/20250118001_create_user_analytics_tables.js
  backend/src/repositories/userAnalyticsRepository.js
  backend/src/services/userAnalyticsService.js
  backend/tests/integration/ociStorageIntegration.test.js
  backend/tests/jest.config.js
  backend/tests/mocks/oci-objectstorage.js
  backend/tests/unit/middleware/analyticsMiddleware.test.js
  backend/tests/unit/services/userAnalyticsService.edge-cases.test.js
  backend/tests/unit/services/userAnalyticsService.test.js
  package-lock.json
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: implement analytics dashboard for user metrics and retention (closes #28)
  backend/src/api/app.js
  backend/src/api/controllers/analyticsDashboardController.js
  backend/src/api/routes/analyticsDashboardRoutes.js
  backend/src/container.js
  backend/src/services/__tests__/analyticsDashboardService.test.js
  backend/src/services/analyticsDashboardService.js
  backend/tests/acceptance-criteria-verification.md
  backend/tests/debug-feature-test.js
  backend/tests/integration/analyticsDashboard.integration.test.js
  backend/tests/test-coverage-report.md
  backend/tests/unit/controllers/analyticsDashboardController.test.js
  backend/tests/unit/services/analyticsDashboardService.test.js
  docs/api/analytics-dashboard.md
  docs/features/analytics-dashboard.md
  frontend/src/components/common/DateRangePicker.tsx
  frontend/src/components/dashboard/AnalyticsDashboard.css
  frontend/src/components/dashboard/AnalyticsDashboard.tsx
  frontend/src/components/dashboard/MetricsOverview.css
  frontend/src/components/dashboard/MetricsOverview.tsx
  frontend/src/components/dashboard/__tests__/AnalyticsDashboard.test.tsx
  frontend/src/hooks/useAnalyticsDashboard.ts
  frontend/src/services/analyticsDashboardService.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, vitest related --run, prettier --write

feat: implement comprehensive admin panel enhancements (closes #29)
  README.md
  backend/src/api/app.js
  backend/src/api/controllers/adminPanelController.js
  backend/src/api/controllers/invitationController.js
  backend/src/api/routes/adminPanelRoutes.js
  backend/src/api/routes/invitationRoutes.js
  backend/src/repositories/configurationRepository.js
  backend/src/services/adminPanelService.js
  backend/src/services/invitationService.js
  backend/tests/globalSetup.js
  backend/tests/unit/adminPanel-coverage-report.md
  backend/tests/unit/controllers/adminPanelController.test.js
  backend/tests/unit/edgeCases/adminPanelEdgeCases.test.js
  backend/tests/unit/security/adminPanelSecurity.test.js
  backend/tests/unit/services/adminPanelService.test.js
  docs/features/admin-panel-enhancements.md
  frontend/src/components/admin/AdminPanel.css
  frontend/src/components/admin/AdminPanel.tsx
  frontend/src/components/admin/SecuritySettings.tsx
  frontend/src/components/admin/ServiceHealthMonitor.tsx
  frontend/src/components/admin/SystemConfiguration.tsx
  frontend/src/components/admin/UserManagement.tsx
  frontend/src/components/admin/__tests__/AdminPanel.test.tsx
  frontend/src/services/admin.service.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, vitest related --run, prettier --write

feat: implement self-registration system with comprehensive DDoS protection (closes #30)
  backend/docs/api/registration-endpoints.md
  backend/docs/features/self-registration-ddos-protection.md
  backend/package.json
  backend/src/api/controllers/registrationController.js
  backend/src/api/middleware/requestContext.js
  backend/src/api/routes/registrationRoutes.js
  backend/src/services/ddosProtectionService.js
  backend/src/services/emailService.js
  backend/src/services/registrationService.js
  backend/src/templates/emails/registration-verification.hbs
  backend/src/templates/emails/registration-welcome.hbs
  backend/tests/integration/self-registration.test.js
  backend/tests/jest.unit.config.js
  backend/tests/mocks/node-fetch.js
  backend/tests/mocks/services.js
  backend/tests/unit/services/ddosProtectionService.test.js
  backend/tests/unit/services/registrationService.test.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  jest --bail --findRelatedTests --passWithNoTests: any of: *.{js,jsx}
  vitest related --run: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
